@tailwind base;
@tailwind components;
@tailwind utilities;

/* global style */

* {
  transition: all 3ms linear;
}
body {
  background: #ededed url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}
